{% extends "base.html" %}

{% block content %}
<div id="intro">
            <div class="wrap clearfix">
                <div class="center">
                    <h1>Páxina Principal de FaceFinder</h1>
                </div>
                <div class="p">
                    <h2>Uso básico:</h2>
                     <ul class="topdown-list">
                      <li>Comece creando unha ou máis persoas.</li>
                      <li>Cree unha nova tarefa de crawling.</li>
                      <li>Unha vez se obteñan fotografías pódense visualizar en "Datos Crawleados" ou ver 
                            as relacións entre as persoas en "Grafos"</li>
                    </ul> 
                </div>
            </div>
        </div>
{% endblock %}
