{% extends "base.html" %}
{% load django_tables2 %}
{% load staticfiles %}

{% block content %}
<div id="intro">
            <div class="wrap clearfix">
                <div class="center">
                    <h1>Tarefas</h1>
                        <h2>En execución</h2>
                    {% if table_running %}
                        <center>{% render_table table_running %}</center>
                    {% else %}
                        <center>Non se atoparon tarefas.</center>
                    {% endif %}
                        <h2>Rematadas</h2>
                    {% if table_finished %}
                        <center>{% render_table table_finished %}</center>
                    {% else %}
                        <center>Non se atoparon tarefas.</center>
                    {% endif %}
                        <h2>Pendentes</h2>
                    {% if table_pending %}
                        <center>{% render_table table_pending %}</center>
                    {% else %}
                        <center>Non se atoparon tarefas.</center>
                    {% endif %}
                    </br>

                </div>
                <p>        
                    <ul class="options-list">
                        <li>
                            <h1> Opcións: </h1>            
                        </li>
                        <li>
                            <a href="/addjob" title="Nova Tarefa">Nova Tarefa</a>
                        </li>
                    </ul>
                </p>
            </div>

        </div>
{% endblock %}
